*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #fff;
    
}  

input, label {
    padding: 5px 5px;
    margin: 5px 5px;
    border:0;
}


h1 {
    text-align: center;
    margin-top: 20px;
}

.form1{
    background-color: #662e9b;
    border-radius: 15px;
    display: inline-block;
    width: 450px;
    margin: 20px;
    padding:8px;
   

}


.titulo {
    text-align: left;
    margin: 5px 5px;
    padding: 5px 5px;
    font-size: 15px;
    color:#000;
    height: 40px;
    font-size: 20px;

}

#label{
    font-size: 15px;

}

.boton{
    text-decoration: none;
    margin: 5px;
    padding: 7px 7px;
    font-size: 14px;
    color: #fff;
    background-color: #662e9b;
    border-radius: 4px;
    outline-offset: 1px;
}

.listNav {
    display: inline-block;
    margin-top: 10px;
    margin: 30px;
    
   
}


.listNav a  {
    text-decoration: none;
    color: #000;
    font-size: 24px;
}

.listNav a:hover  {
   
    color:blue;
    
}

.mainNav{
    text-align: right;
    margin-top: 1px;
    margin-bottom: 20px;
    padding-left: 0;
    

}